

.btn-button{
  cursor: pointer;
  font-size: 24px;
  margin: 0px 0px 0px 100px;
  position: relative;
  background-color: orange;
  border: none;
  padding: 15px;
  width: 400px;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  text-align: center;
  transition: 0.5s all;
  text-decoration: none;
  overflow: hidden;

 
}
.btn-button:hover{
    background-color: rgb(255, 255, 255);
   
    color: orange;
}